{% extends 'base.html.twig' %}

{% block body %}


	{% if items is not empty %}

		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">Photo</th>
					<th scope="col">Nom</th>
					<th scope="col">Prix</th>
				
					<th scope="col">
						<span class="btn btn-primary">-</span>
					</th>
					<th scope="col">quantité</th>
					<th scope="col">
						<span class="btn btn-primary">+</span>
					</th>
					<th scope="col">Supprimer</th>
					<th scope="col">Total</th>
				</tr>
			</thead>
			<tbody>
				<pre>
					{{ dump(items) }}
				</pre>
				{% for item  in  items %}


					{% if item.drinks is defined %}

						<tr>
							<td>
								<img src="{{ asset('upload/') }}{{ item.product.picture }}" width="70" alt="{{ item.product.title }}">
							</td>
							<td>{{loop.index0}}
								{{ item.product.title }}
								<br>	
								{{ item.drinks.title }}
							</td>
							<td>{{ item.product.price | format_currency('EUR') }}</td>

							<td>
								<a href="{{ path('removeCart', {'id': loop.index }) }}" class="btn btn-primary">-</a>
							</td>
							<td class="text-center ">
								<a href="" class="btn btn-light text-dark">{{ item.quantity }}</a>
							</td>
							<td>
								<a href="{{ path('addCart', {'id': loop.index , param: 'cart'}) }}" class="btn btn-primary">+</a>
							</td>
							<td class="text-center">
								<a href="{{ path('deleteCart', {'id': loop.index }) }}" onclick="return confirm('Etes-vous de vouloir supprimer cet article de votre panier')"><img src="{{ asset('delete.svg') }}" alt="supprimer" width="25"></a>
							</td>
							<td>{{ item.product.price * item.quantity }}
								€</td>
						</tr>

					{% else %}
						<tr>
							<td>{{ item.product.title }}

							</td>
							<td>{{ item.product.price | format_currency('EUR') }}</td>
							<td>
								<img src="{{ asset('upload/') }}{{ item.product.picture }}" width="70" alt="{{ item.product.title }}">
							</td>
							<td>
								<a href="{{ path('removeCart', {'id': loop.index }) }}" class="btn btn-primary">-</a>
							</td>
							<td class="text-center ">
								<a href="" class="btn btn-light text-dark">{{ item.quantity }}</a>
							</td>
							<td>
								<a href="{{ path('addCart', {'id': loop.index, param: 'cart'}) }}" class="btn btn-primary">+</a>
							</td>
							<td class="text-center">
								<a href="{{ path('deleteCart', {'id': loop.index }) }}" onclick="return confirm('Etes-vous de vouloir supprimer cet article de votre panier')"><img src="{{ asset('delete.svg') }}" alt="supprimer" width="25"></a>
							</td>
							<td>{{ item.product.price * item.quantity }}
								€</td>
						</tr>

					{% endif %}
				{% endfor %}

			</tbody>
		</table>

		<h3>Total :
			<span>{{ total }}</span>
			€</h3>

		<a href="{{ path('destroyCart') }}" class="btn btn-danger mt-5" onclick="return confirm('Etes-vous de vouloir supprimer cet article de votre panier')">Vider le panier</a>

		{% if app.user %}

			<a href="{{ path('orderInformations') }}" class="btn btn-warning mt-5">Valider la commande</a>


		{% else %}

			<a href="{{ path('login') }}" class="btn btn-warning mt-5">Connectez vous pour passer à la commande</a>

		{% endif %}
		{% if affiche==true  %}{% endif %}

	{% else %}

		<div class="text-center">
			<h3>Votre panier est vide, allez vite consulter notre
				<a class="btn btn-success rounded" href="{{ path('home') }}">catalogue</a>
			</h3>
		</div>


	{% endif %}


{% endblock %}

{% block title %}
	{{ parent() }}
{% endblock %}


{% block titre %}{% endblock %}
