{% extends 'base.html.twig' %}

{% block title %}Detail du Menu
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/detailProduct.css') }}">

<div class="menu">
	<section class="product-presentation">
		<div class="columns is-medium">
			<div class="column is-6-medium">
				<div class="picture">
					<div
						class="responsive-img">
						<!---->
						<figure class="responsive-img-figureLoaded">
							<picture>
								<img src="{{ asset('upload/') }}{{ product.picture }}" alt="{{ product.title }}" width="600"></picture>
							<!---->
							<!---->
						</figure>
					</div>
				</div>
			</div>
			<div data-test-id="product-title" class="content column is-5-medium is-offset-1-medium">
				<h1>
					{{ product.title }}
				</h1>

				<p class="description"> {{product.description}}</p>
				<!---->

				<h1>
					Prix
				</h1>
				<p class="description"> {{product.price}}€</p>

				<button type="button" href="{{ path('addCart', {'id': product.id,  param: 'detail' }) }}" data-bs-toggle="modal" data-bs-target="#choiceConfirm" class="cta cta-primary">
					Commander

					<!---->
				</button>
			</div>
		</div>
	</section>
</div>



{# Modal #}
<div class="modal fade text-center" id="choiceConfirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-3">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-trash-can"></i> CONFIRMATION</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <small>Envie d'un dessert ?</small> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm rounded" data-bs-dismiss="modal"><i class="fa-solid fa-ban"></i> &nbsp;Annuler</button>
        <a href="{{ path('deleteItem', { id:item.id }) }}" class="btn btn-danger btn-sm rounded text-decoration-none"><i class="fa-solid fa-trash-can"></i> &nbsp;Supprimer</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}


