{% extends 'base.html.twig' %}

{% block title %}Detail du Menu
{% endblock %}
{% block main %}

	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('css/sideNavbar.css') }}">
	<link rel="stylesheet" href="{{ asset('css/detailProduct.css') }}">

	<div class="forme">
		<div class="sidenav">
			<ul>
				{# <li><a href="{{ path("Entrees")}}">Entrées</a></li> #}
				<li><a href="{{ path("Snack")}}">Snack</a></li>
				<li><a href="{{ path("Plats")}}">Plats</a></li>
				<li><a href="{{ path("Menu")}}">Menu</a></li>
				<li><a href="{{ path("Dessert")}}">Dessert</a></li>
				<li><a href="{{ path("Boissons")}}">Boissons</a></li>
			</ul>
		</div>

		<div class="productContainer">
			<div class="menu">
				<section class="product-presentation">
					<div class="columns is-medium">
						<div class="column is-6-medium">
							<div class="picture">
								<div class="responsive-img">
									<figure class="responsive-img-figureLoaded">
										<picture>
											<img src="{{ asset('upload/') }}{{ product.picture }}" alt="{{ product.title }}" width="600">
										</picture>
									</figure>
								</div>
							</div>
						</div>
						<div data-test-id="product-title" class="content column is-5-medium is-offset-1-medium">
							<h1>{{ product.title }}</h1>
							<p class="description"> {{product.description}}</p>
							<h1>Prix</h1>
							<p class="description"> {{product.price}}€</p>
							{% if product.subCategory.category.title == "Menu" %}
								<a href="{{ path('addCart', {'id': product.id,  param: 'boisson'}) }}" class="btn btn-primary rounded button">Ajouter au panier</a>
							{% elseif product.subCategory.category.title == "Plats" %} 
								<a href="{{ path('addCart', {'id': product.id,  param: 'boisson'}) }}" class="btn btn-primary rounded button">Ajouter au panier</a>
							{% else %}
								<a href="{{ path('addCart', {'id': product.id,  param: 'carte'}) }}" class="btn btn-primary rounded button">Ajouter au panier</a>
							{% endif %}
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
{% block body %}{% endblock %}


