{% extends 'panelAdmin.html.twig' %}

{% block body %}

	<div class="border border-dark border-3 text-center rounbded p-3 mb-3">
		<h5>Gestion Livraison</h5>
		<div class="row justify-content-around mt-3">
			<div class="col-md-6 border-dark border-end-4">
				<h6 class="fw-bold">Informations client:</h6>
				<p>Nom:
					{{order.delivery.address.lastname}}</p>
				<p>Prénom:
					{{order.delivery.address.firstname}}</p>
				<p>N° de Voie:
					{{order.delivery.address.streetNumber}}</p>
				<p>Voie:
					{{order.delivery.address.street}}</p>
				<p>Code Postal:
					{{order.delivery.address.zipCode}}</p>
				<p>Ville:
					{{order.delivery.address.city}}</p>
				<p>Email:
					{{order.user.email}}</p>
				<p>Téléphone: 0{{order.delivery.address.phone}}</p>


			</div>
			{# Affichage des informations sur le statuts de la livraison #}
		  	<div class="col-md-6"><h6 class="fw-bold">Statut de livraison:</h6>
                <form class="mb-5" action="{{path('orderDetail',{id:order.id})}}" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Date de livraison</label>
                        <input type="date" name="deliveryDate" value="{{ order.delivery.deliveryDate | date('Y-m-d') }}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Statut</label>
                    <select class="form-select" name='status' aria-label="Default select example">
                        <option selected>modifier le statut</option>
                        <option value="En attente de Preparation">En attente de Preparation</option>
                        <option value="Preparation de la commande"> Preparation de la commande </option>
                        <option value="Livraison en cours">Livraison en cours </option>
                        <option value="Commande Livrée">Commande Livrée </option>
                        <option value="Commande annulée">Commande annulée </option>
                    </select>
            </div>
                    <button type="submit" class="btn btn-primary">
                        Mettre à jour

                    </button>
                </form>
                <p>Date prévu de livraison: {{ order.delivery.deliveryDate | date('d-m-Y') }}</p>
                <p>Statut:{{order.delivery.status}}</p>
            </div>
        </div>
	</div>

	{# Affichage des informations sur la commande passée #}
	<table class="table table-dark">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Prix</th>
				<th scope="col">Descriptif</th>
				<th scope="col">Photo</th>
				<th scope="col">Quantité</th>
				<th scope="col">Montant total</th>
			</tr>
		</thead>
		<tbody>
			{% for detail  in  order.details %}
				<tr>
					<th scope="row">{{ detail.product.id }}</th>
					<td>{{ detail.product.title }}</td>
					<td>{{ detail.product.price | format_currency('EUR') }}</td>
					<td>{{ detail.product.description | slice(0,15) ~ '...' }}</td>
					<td>
						<img src="{{ asset('upload/') }}{{ detail.product.picture }}" width="50" alt="{{ detail.product.title }}">
					</td>
					{% set total= detail.product.price * detail.quantity %}
					<td>{{  detail.quantity }}</td>
					<td>{{ total | format_currency('EUR') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}

{% block title %}
	{{ parent() }}Liste des commandes
{% endblock %}


{% block titre %}

	Liste des commandes
{% endblock %}
