<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Eat Story - Restaurant Alfortville | Américaine & Française cuisine près de moi | Réserver maintenant
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('logo.jpg') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.1/lux/bootstrap.min.css" integrity="sha512-mOju8pKJzu/lzzsmSWS8MrvFTXE9JMdOmhsz4OzN4NNfkERAUt4M7qjVQTbrWpx5SAJCv6Z2mrGY20ta6W2n+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link
		rel="stylesheet" href="{{ asset('css/main.css') }}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">

			<div class="container-fluid d-flex justify-content-between">
			
				<a href="{{path('home')}}"><img src="{{ asset('logo.jpg') }}" width="50px" alt="logo eat story"></a>
				<div>

					<a href="{{path('carte')}}">Notre carte</a>


					<a href="{{path('emailForm')}}">Nous contacter</a>


					{% if app.user and is_granted('ROLE_ADMIN') %}
						<span class="dropdown">
						<a class="  dropdown-toggle" data-bs-toggle="dropdown" href="{{path('category')}}" role="button" aria-haspopup="true" aria-expanded="false">BackOffice</a>
						
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ path('listMenus') }}">Gestion des menus</a>
							<a class="dropdown-item" href="{{ path('category') }}">Gestion des catégories</a>
							<a class="dropdown-item" href="{{ path('subCategory') }}">Gestion des sous-catégories</a>
							<a class="dropdown-item" href="{{ path('orderList') }}">Gestion des commandes</a>

							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
						</span>
					{% endif %}
				</div>
				<div>

					<div>
						{% if app.user %}
						<span class="dropdown">
						<a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('user.svg') }}" alt="panier" width="25px"></a>
				
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{path('profil', { id:app.user.id }) }}">Voir mon profil</a>
							<a class="dropdown-item" href="{{path('mesCommandes', { id:app.user.id })}}">Mes Commandes</a>
							<a class="dropdown-item" href="{{path('logout')}}">Deconnexion</a>
						</div>
						</span>
					{% endif %}

					<a href="{{path('cart')}}"><img src="{{ asset('cart.svg') }}" alt="panier" width="30px"></a>

					{% if not app.user %}

						<a class="btn btn-success text-dark" href="{{path('login')}}">Connexion</a>

						<a class="btn btn-primary text-white" href="{{path('register')}}">Inscription</a>

					{% endif %}
					
				
				</div>
			</div>
		</nav>
		
		{% block main %}{% endblock %}
		<div class="container">
			<div class="row mt-3 justify-content-center ">
				<h1>
					{% block titre %}{% endblock %}
				</h1>
			</div>
			<!-- app.flashes est la variable où se trouve le message que l'on a configuer dans le cas ou on a bien entré les information du produit -->
			{% for message in app.flashes('success') %}
				<div class="alert alert-success text-center mx-auto">
					{{ message }}

				</div>

			{% endfor %}

			{% for message in app.flashes('danger') %}
				<div class="alert alert-danger text-center mx-auto">
					{{ message }}

				</div>

			{% endfor %}

			{% block body %}{% endblock %}
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	</body>

</html>
