{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block title %}Valider ma commande{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/orderInformations.css') }}">

<div class=" container-fluid my-5 ">
    <div class="row justify-content-center ">
        <div class="col-xl-10">
            <div class="card shadow-lg ">
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <div class="card border-0">
                            <div class="card-header pb-0">
                                <h2 class="card-title">Récapitulatif de la commande</h2>
                                <p class="card-text text-muted mt-4 space">Addresse de facturation </p>
                                <hr class="my-0">
                            </div>
                            <div class="card-body">
                                <div class="row ">
                                    <div class="col-auto mt-0">
                                        <p><b>{{app.user.firstName}} {{app.user.LastName}}</b></p>
                                        <p><b>{{app.user.streetNumber}} {{app.user.street}}</b></p>
                                        <p><b>{{app.user.zipCode}} {{app.user.city}}</b></p>
                                    </div>
                                    
                                </div>
                                <div class="row mt-4">
                                    <div class="col">
                                        <p class="text-muted mb-2">Addresse de Livraison</p>
                                        <hr class="mt-0">
                                    </div>
                                </div>
                                <div class="form-group"> </div>
                                <div class="form-group"> </div>
                                <div class="row no-gutters">
                                {% if address is not empty %}
                                  <p><b>{{address.firstName}} {{address.LastName}}</b></p>
                                        <p><b>{{address.streetNumber}} {{address.street}}</b></p>
                                        <p><b>{{address.zipCode}} {{address.city}}</b></p>
                                {% endif %}
                                    <div class="col-sm-6 pr-sm-2">
                                        <div class="form-group"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                         <div class="col-auto mt-0">
                                      
                                    </div>
                                    
                                        </div>
                                    </div>
                                    {% if address is not empty %}
                                     <div class="row mt-4">
                                    <div class="col">
                                        <p class="text-muted mb-2">informations sur la livraison</p>
                                        <hr class="mt-0">
                                    </div>
                                     <p><b>{{address.informations}}</b></p>
                                </div>
                                 {% endif %}
                                </div>
                                {% if address is not empty %}
                                   <p><b><a href="{{ path('newDeliveryAddress') }}" class="btn btn-success mt-5 button"> Changer addresse de Livraison </a></b> </p>
                                   {% else %}
                                        <p><b><a href="{{ path('newDeliveryAddress') }}" class="btn btn-success mt-5 button">Nouvelle addresse de Livraison </a></b> </p>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card border-0 ">
                            <div class="card-header card-2">
                                <p class="card-text text-muted mb-2 space">Votre Commande</p>
                                <hr class="my-2">
                            </div>
                            <div class="card-body pt-0">
                            	{% for item  in  items %}
                                {% if item.drinks is defined %}
                                 <div class="row justify-content-between">
                                    <div class="col-auto col-md-7">
                                        <img class="img-fluid" src="{{ asset('upload/') }}{{ item.product.picture }}" width="62" height="62">
                                            <div class="media-body my-auto">
                                                <div class="row ">
                                                    <div class="col-auto">
                                                        <p class="mb-0"><b>{{ item.product.title }}</b></p><small class="text-muted">{{ item.drinks.title }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto my-auto">
                                        <p>Qté :</p>
                                        <p class="boxed-1">{{ item.quantity }}</p>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto my-auto ">
                                     <p>Prix :</p>
                                        <p><b>{{ item.product.price * item.quantity }}€</b></p>
                                    </div>
                                </div>
                                <hr class="my-2">
                                {% else %}
                                <div class="row justify-content-between">
                                    <div class="col-auto col-md-7">
                                        <div class="media flex-column flex-sm-row"> <img class=" img-fluid" src="{{ asset('upload/') }}{{ item.product.picture }}" width="62" height="62">
                                            <div class="media-body my-auto">
                                                <div class="row ">
                                                    <div class="col-auto">
                                                        <p class="mb-0"><b>{{ item.product.title }}</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto my-auto">
                                        <p class="boxed-1">{{ item.quantity }}</p>
                                    </div>
                                    <div class=" pl-0 flex-sm-col col-auto my-auto ">
                                        <p><b>{{ item.product.price * item.quantity }}€</b></p>
                                    </div>
                                </div>
                                <hr class="my-2">
                                {% endif %}
                               {% endfor %}

                                <div class="row ">
                                    <div class="col">
                                        <div class="row justify-content-between">
                                            <div class="col-4">
                                                <p><b>Total</b></p>
                                            </div>
                                            <div class="flex-sm-col col-auto">
                                                <p class="mb-1"><b>{{ total }}€</b></p>
                                            </div>
                                        </div>
                                        <hr class="my-0">
                                    </div>
                                </div>
                                <div class="row mb-5 mt-4 ">
                                    {% if address is not empty %}
                                        <div class="col-md-12 col-lg-6 mx-auto"><a href="{{ path('order_checkout')}}" class=" col-md-20 btn btn-warning mt-5 button">Payer</a></div>
                                         
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}